/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


 .ecoles-creatives-banner {
  --border-color: rgba(202, 202, 202, 1);
  --color: #000;
  --background-color: fff;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: nowrap;
  color: var(--color);
  background-color: var(--background-color);
  padding-top: 7px;
  padding-bottom: 7px;
  position: relative;
  @media (min-width: 1024px) {
    padding-top: 14px;
    padding-bottom: 21px;
  }
}

/* border after */
.ecoles-creatives-banner::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--border-color);
  @media (min-width: 1024px) {
    bottom: 6px;
  }
}

.ecoles-creatives-banner.--theme-dark {
  --border-color: #373737;
  --color: #fff;
  --background-color: #121212;
}

.ecoles-creatives-banner__logo {
  grid-column: 2;
  display: flex;
  justify-content: center;
}

.ecoles-creatives-banner__logo img {
  max-width: 100%;
  height: auto;
  width: 120px;
  @media (min-width: 1024px) {
    width: 236px;
  }
}

.ecoles-creatives-banner__slogan {
  grid-column: 3;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  justify-content: flex-end;
  padding-right: 1.5rem;
  display: none;
  @media (min-width: 1024px) {
    display: flex;
  }
}